<div class="container">
  <h2>Восстановление пароля</h2>
  <div>
    <form (ngSubmit)="getPassword()">
      <div class="form-group">
        <label for="loginField">Логин</label>
        <input class="form-control" id="loginField" name="loginField" [(ngModel)]="loginName" required />
      </div>
      <button class="btn btn-success" type="submit">Восстановить</button>
      <button class="btn btn-primary" routerLink="/login">На страницу входа</button>
    </form>
  </div>
  <p [class.error_message]="error">{{message}}</p>
</div>